.godot/
/android/
.git/
.idea/
.vs/
publish/
bin/
build/SpireChronicle.pck
.editorconfig
*.uid
*.user
*.import
.vscode/*
export.cfg
export_presets.cfg

assets/
docs/

.cursor/
.cursorignore
.cursorrules

Properties/
